@using Microsoft.AspNetCore.Identity;
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@{
    ViewBag.Title = "Title";
}

@if (SignInManager.IsSignedIn(User))
{
    <ul class="navbar-nav me-2">

    <li class="nav-item">
        <form class="form inline">
            <a asp-controller="Item" asp-action="Index" class=" btn fw-bold nav-link">پنل
                مدیریت
                <i class="fa fa-tasks"></i>
            </a>
        </form>
    </li>
    <li class="nav-item">
        <form class="form inline">
            <a class="btn  btn-link fw-bold nav-link" href="#">
                @UserManager.GetUserName(User)
                    <i class="fa fa-user-circle" aria-hidden="true"></i>

                </a>
            </form>
        </li>
        <li class="nav-item">
            <form id="logoutForm" method="post" class="form inline" asp-controller="Account" asp-action="Logout">
                <button type="submit" class="btn  btn-link fw-bold nav-link">
                    <i class="fa fa-sign-out"></i>
                    Logout

                </button>
            </form>
        </li>
    </ul>
}
else
{
    <ul class="navbar-nav me-2">
    <li class="nav-item">
        <a asp-controller="Account" asp-action="Register" class="btn fw-bold nav-link">
            <i class="fa fa-user-circle" aria-hidden="true"></i>
            Register

        </a>
    </li>
    <li class="nav-item">
        <a asp-controller="Account" asp-action="Login" class=" btn fw-bold nav-link">
            <i class="fa fa-sign-in"></i>
            Login</a>
    </li>
</ul>
}
