@model ForgetPasswordViewModel
<h1 class="text-info">Forgot yourPassword</h1>
<form
  asp-controller="Account"
  asp-action="ForgetPassword"
  method="post"
  role="form"
>
  <h4>Enter your email</h4>
  <div asp-validation-summary="All" class="text-danger"></div>
  <div class="col-md-18 mb-3">
    <label asp-for="Email" class="col-md-2"></label>
    <input asp-for="Email" class="form-control" />
    <span asp-validation-for="Email" class="text-danger"></span>
  </div>
  <div class="form-group">
    <div class="col-md-2">
      <button type="submit" class="btn btn-success">Login</button>
    </div>
  </div>
</form>


